@import '../../scss/variables';
@import '../../scss/utils/tintshade';

.rect-area-defs {
  position: relative;
  width: 100%;
  background-color: #999999;

  & > div {
    position: absolute;
    border: solid 1px tint($main-color, 80%);
    box-sizing: border-box;
    // padding: $general-spacing;
    background-color: tint($main-color, 90%);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: #{0.5 * $general-spacing};

    &.selected {
      background-color: tint($main-color, 60%);
      border: solid 1px tint($main-color, 40%);
    }

    span.delete {
      color: $danger-color;
    }
  }
}