$general-spacing: 1em;

$main-color: #c66300;
$accent-color: #34c0b7;
$panel-color: #eeeeee;
$field-color: #e3e3e3;
$command-color: #cccccc;
$success-color: #008000;
$danger-color: #db0000;

$break-small: 800px;
