/* You can add global styles to this file, and also import other style files */

@import './app/scss/variables';

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, SansSerif;
  overflow-y: auto;
  overscroll-behavior: contain;
}

@import './app/scss/elements';
@import './app/scss/forms';
@import './app/scss/widgets';
